<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>Navigation Page/Lesson</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="sara mazal lessons">
<meta name="keywords" content="HTML, CSS, JavaScript, mazal, icons">

<script src="js/particles.min.js"></script>

<link rel="stylesheet" href="css/normalize.min.css">
<link rel="stylesheet" href="css/style.css">

</head>
<body>

  <section class="nav">
    <h1>2021年前端趋势</h1>
    <h3>Web前端技术的好处</h3>
    <canvas class="background"></canvas>
    <div class="nav-container">
      <a class="nav-tab" href="#tab-typescript">TypeScript</a>
      <a class="nav-tab" href="#tab-react">REACT</a>
      <a class="nav-tab" href="#tab-graphql">GraphQL</a>
      <a class="nav-tab" href="#tab-svelte">SVELTE</a>
      <a class="nav-tab" href="#tab-jest">JEST</a>
      <span class="nav-tab-slider"></span>    </div>
  </section>

  <main class="main">
    <section class="slider" id="tab-typescript">
      <h1>TypeScript</h1>
      <h3>saves you time...</h3>
    </section>
    <section class="slider" id="tab-react">
      <h1>REACT</h1>
      <h3>free and open-source library </h3>
    </section>
    <section class="slider" id="tab-graphql">
      <h1>GraphQL</h1>
      <h3>a query language for APIs</h3>
    </section>
    <section class="slider" id="tab-svelte">
      <h1>SVELTE</h1>
      <h3>cybernetically enhanced web apps</h3>
    </section>
    <section class="slider" id="tab-jest">
      <h1>JEST</h1>
      <h3>testing framework</h3>
    </section>

  </main>


<script src='js/jquery.min.js'></script>
<script src="js/script.js"></script>

</body>
</html>
